*{
    margin: 0px;
     padding: 0px;
    box-sizing: border-box;
}
.login{
    
    padding: 15px 15px;
}
.button:hover{
	background-color:grey;
}
nav{
    background-color: #87AAAA;
    display: flex;
    text-transform: none;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    color: white;
}
label{
    color: hsl(249, 95%, 48%);
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
} 
nav ul li {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
}
nav ul li:hover{
    background-color: rgb(35, 41, 41);
}
nav input{
    border: none;
    border-radius: 25px;
    padding: 10px;
}
nav span a {
    color: white;
    margin: 20px;
    padding: 5px 15px;
    border-radius: 25px;
    font-weight: bold;
}
nav span a:hover{
    background-color: cyan;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

img{
    width: 250px;
    height: 350px;
}
a img{
    padding: 15px;
}

h1{
    margin-left: 15px;
    /* margin-top: 35px;
    margin-bottom: 30px; */
    font-family: serif;
}
h2{
    text-align: center;
    background-color: #D3E4CD;
    font-style: italic;
}

/* internal file css close*/
.offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.pro1{
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid grey;
}
.pro1 img{
    border-radius: 15px;
}
.offers-on-top-brands{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
}
.offers-on-top-brands img{
    width: 200px;
    height: 190px;
    border-radius: 15px;
}
#A{
    text-align: center;
    background-color: #D3E4CD;
    font-style: italic;
}

  
  